mixin postItem(post)
  li.section__post.post
    a(href=`/users/${post.user.id}`)= post.user.nick
    img.post__img.box-shadow(src=`${post.image}`,alt='post image',data-id=`${id}`)
    //- .post__actions-wrap
    //- span.post__reaction-add.add-reaction(data-post=`${post.id}`)= 'daj kciuka!'
    form.post__form.send-comment-form#comment-form(data-post=`${post.id}`)
      input.post__input
      button.post__send-btn.section__button.section__button--background(type='submit') S
    ul.post__stats-list.stats-list
      li.stats-list__element
        span.post__reaction-add.add-reaction(data-post=`${post.id}`, data-is_liked=`${!!post.isLiked}`)= `${post.isLiked? '|<3|' : '<33'}`
        .stats-list__likes.post-list__likes--like.likes-quantity=post.likesQuantity
      li.stats-list__element
        span.stats-list__reaction-add.add-comment(data-post=`${post.id}`)= 'Com'
        .stats-list__likes.post-list__likes--comment.comments-quantity=post.commentsQuantity

    each comment in post.testComments
      #test= comment.content