extends base

mixin nottfElement(obj)
  li.notff_list-element
      if obj.content
        span.notff__name.section__subtext 
          a.notff__link(href=`users/${obj.user._id}`) #{obj.user.nick}
          |  commented your 
          a.notff__link(href=`posts/${obj.post}`) post!
          

      else 
        span.notff__name.section__subtext
         a.notff__link(href=`users/${obj.user._id}`) #{obj.user.nick}
         |  reacted to your  
         a.notff__link(href=`posts/${obj.post}`) post
         |  with "#{obj.reaction}"

block content

  //- notff in order to short notification
  main.main.section.notf
    ul.notf__list
      each element in notifications 
        +nottfElement(element)
