extends base
include _post

mixin statsItem(obj)
  li.stats__li
    if obj.link
      a.stats__num(href=`/users/${user.id}/${obj.link}`,id=`${obj.desc}-btn`)= obj.num
    else
      span.stats__num= obj.num
    p.stats__desc= obj.desc

mixin imgItem(id,src,likesQuantity,commentsQuantity)
  li.post-list__li
    img.post-list__img.box-shadow(src=`${src}`,alt='post image',data-id=`${id}`)
    //- .post-list__stats-wrap
      .post-list__likes.post-list__likes--like=likesQuantity
      .post-list__likes.post-list__likes--comment=commentsQuantity


block content

  main.main.section.section-me.me
    .me__img-wrap
      img.me__img.box-shadow(src=`${user.image || 'https://upload.wikimedia.org/wikipedia/commons/a/a0/Pierre-Person.jpg'}`, alt="user image")
    h1.section__header.me__header 
      span= user.name
      if isMe
        a.me__settings-link(href='/me/settings')
          i.im.im-gear.me__icon
    p.section__subtext=user.description

    ul.me__stats.stats.box-shadow
      each element in stats
        +statsItem(element)
    if isMe == false
      button.section__button.section__button--background.me__follow-btn#follow-btn(data-user=`${user.id}`,data-follow_action=`${user.isFollowed? 'unfollow':'follow'}`)=`${user.isFollowed? 'Unfollow':'Follow'}`

    ul.me__post-list.post-list
      each post in posts
        //- +imgItem(post.id,post.image,post.likesQuantity,post.commentsQuantity)
        +postItem(post)

